<section class="create-component">
    <h3>Create Component in Project</h3>
    <p class="instructions">
        Right click on components and open Integrated Terminal:
    </p>
    <div class="img_box">
        <img src="../../../../assets/command/component-menu.png" alt="">
    </div>
    <p class="instructions">
        Now Enter these command in terminal:
    </p>
    <div class="code-palette">
        <pre>ng g c component_name --skip-import</pre>
    </div>
    <p class="instructions">
       Something like that:
    </p>
    <div class="img_box">
        <img src="../../../../assets/command/component-command.png" alt="">
    </div>
    <p class="instructions">
        After created component you need to decalre in shared.module.ts file: <br>
        for that open shared.module.ts file in declarations decalre component name
     </p>
     <div class="img_box">
        <img src="../../../../assets/command/import.png" alt="">
    </div>
    <p class="instructions">
        And export also:
     </p>
     <div class="img_box">
        <img src="../../../../assets/command/export.png" alt="">
     </div>
</section>