<section class="command">
    <p class="instructions">
        For install <a target="_blank" href="https://www.primefaces.org/primeng-v14-lts/setup">Primeng </a> <br>
        Enter these Command:
    </p>
    <div class="code-palette">
        <pre>npm install primeng --save</pre>
        <pre>npm install primeicons --save</pre>
    </div>
    <p class="instructions">
        Now open angular.json file and paste these style's links:
    </p>
    <div class="code-palette">
        <pre>. . . .</pre>
        <pre> "styles": [ </pre>
        <pre class="highlight">   "./node_modules/primeicons/primeicons.css",</pre>
        <pre class="highlight">   "./node_modules/primeng/resources/themes/lara-light-blue/theme.css",</pre>
        <pre class="highlight">   "./node_modules/primeng/resources/primeng.min.css",</pre>
        <pre>   "src/styles.scss"</pre>
        <pre>],</pre>
        <pre>. . . .</pre>
    </div>
    <p class="instructions">
        Now <a target="_blank" href="https://www.primefaces.org/primeng-v14-lts/setup">Primeng </a> is installed on your project.
    </p>
    <p class="instructions">
        You can go ahead and use component
    </p>
    <p class="instructions">
       For that import module which you want use import that in module.ts file 

       
    </p>
</section>