<section class="command">
    <h3>Image Zoom</h3>
    <p class="instructions">
        Here we are goig use to of Image Zoom on Hover <br>
        for that we are using image-zoom library

    </p>
    <b>
        Note: Angular Version must be 14
    </b>
    <div class="code-palette">
        <pre class="highlight">npm i --save ngx-image-magnifier</pre>
    </div>
    <p class="instructions">
        Import this module
    </p>
    <div class="code-palette">
        <pre class="highlight">import &#123; NgxImageZoomModule &#125; from 'ngx-image-zoom';</pre>
        <pre>...</pre>
        <pre>imports: [</pre>
        <pre class="highlight">     NgxImageZoomModule</pre>
        <pre> ],</pre>
        <pre>...</pre>
    </div>

    <p class="instructions">Open component where you want use:</p>
    <div class="code-palette">
        <pre class="highlight">&lt;lib-ngx-image-zoom </pre><pre class="highlight">thumbImage="thumbImagePath"</pre><pre class="highlight">fullImage="fullImagePath"&gt;&lt;/lib-ngx-image-zoom&gt; </pre>
    </div>

</section>