<header>
    <div class="left">
        <div class="logo">
            <img src="../../../assets/logo.png" alt="Logo">
        </div>
        <ul class="links">
            <li><a routerLink="/">Home</a></li>
            <li><a href="">Courese</a></li>
            <li><a href="">Projects</a></li>
            <li><a routerLink="command">Commands</a></li>
            <li><a routerLink="for-us">For Us</a></li>
        </ul>
    </div>
    <div class="right">
        <div class="user">
            <span>A</span>
        </div>
    </div>
</header>