<div class="contentBox">
    <h2 class="heading">
        NgIf, Else and Then
    </h2>
    <p>
        The *ngIf directive is used for conditional rendering. It allows you to conditionally show or hide elements in
        your templates based on a certain expression.
    </p>

</div>
<strong>Here's an example of how to use *ngIf:</strong>
<iframe src="https://ng-run.com/edit/NwahGZIU2pLova6bQjXG" frameborder="0" width="100%" height="500px"></iframe>

<strong>Here's an example of how to use *ngIfElse:</strong>
<iframe src="https://ng-run.com/edit/WvsbW6BD3OXCaH6m6Iq8" frameborder="0" width="100%" height="500px"></iframe>
<strong>Here's an example of how to use *ngIfElse and then:</strong>
<iframe src="https://ng-run.com/edit/aLqs3a9x4YMkBSBiO9T5" frameborder="0" width="100%" height="500px"></iframe>
