<div class="contentBox">
    <h2 class="heading">Data Binding</h2>
    <p>Data binding is a way to connect the data in a component or controller with the view or template in web development. It allows us to display and update data dynamically on the screen. There are different types of data binding:</p>
    
    <ol>
        <li>
            <strong> One-way Binding:</strong>
            <ol>
                <li> <strong> Component to View:</strong> We can display data from the component in the view using different methods like inserting values within curly braces or setting properties, styles, classes, or attributes of elements based on the component data.</li>
                <li> <strong>View to Component:</strong>  We can bind events in the view to methods or functions in the component, so when a user interacts with the view, it triggers actions in the component.</li>
            </ol>
        </li>
    </ol>    
</div>
<h2>Example:</h2>
<iframe src="https://ng-run.com/edit/3FK4d285HbdZ1KIYOvu1" frameborder="0" width="100%" height="500px"></iframe>
