<section class="command">
    <ol class="topic_list">
        <li routerLink="version-degrade">Angular Version Degrade</li>
        <li routerLink="page-create">How Create a Page</li>
        <li routerLink="create-component">How Create a Component</li>
        <li routerLink="primeng">Install Primeng</li>
        <li routerLink="echarts">Echarts</li>
        <li routerLink="build-apk">How Build APK</li>
        <li routerLink="image-zoom">Image Zoom</li>
        <li routerLink="nvm">Install NVM</li>
        <li routerLink="upload-github">Upload Project On GitHub</li>
    </ol>
</section>