<section class="nvm">
    <p class="instructions">
        NVM (Node Version Manager) is allows you to install different versions of Node, <br>
        and switch between these versions depending on the project that you're working <br> on via the command line.
    </p>
    <p class="instructions">
        Install Node from link : <a target="_blank"
            href="https://github.com/coreybutler/nvm-windows/releases">Download</a>
    </p>
    <div class="img_box">
        <img src="../../../../assets/nvm/nvm.png" alt="">
    </div>
    <p class="instructions">
        After complete installtion open CMD and we assume that you want change version from 16 <br> to 14 then enter
        this below commmands :
    </p>
    <div class="code-palette">
        <pre class="highlight">nvm ls</pre>
    </div>
    <div class="code-palette">
        <pre class="highlight">nvm install 14</pre>
    </div>
    <div class="code-palette">
        <pre class="highlight">nvm use 14</pre>
    </div>
    <p class="instructions">
       Now you successfully migrate on Node 14 version 
    </p>
</section>