<div class="contentBox">
    <h2 class="heading">Renderer</h2>
    <p>
        Renderer2 class is a utility class provided by the Angular framework that allows you to interact with the DOM
        (Document Object Model) and perform various operations such as element creation, manipulation, and styling. It
        provides a platform-independent way to modify the DOM and is commonly used when you need to perform DOM
        manipulations that are not covered by Angular's data binding or declarative templates.
    </p>

</div>

<iframe src="https://ng-run.com/edit/ZWnTLvsVTjDnrRNyRyIy" frameborder="0" width="100%" height="500px"></iframe>
