<section class="insert_checkbox">
    <h3>Insert P-Checkbox</h3>
    
    <p class="instructions">
        We assume that you you have already installed primeng in your project. <br>
        Now open <a href="https://www.primefaces.org/primeng-v14-lts/">PrimeNg</a> site and find Checkbox <br>
        <strong> Note: use <a target="_blank" href="https://www.primefaces.org/primeng-v14-lts/setup">PrimeNg 14</a>
        </strong>
    </p>
    <div class="img_box">
        <img src="../../../../assets/checkbox/checkbox-home-page.png" alt="">
    </div>
    <p class="instructions">
        Now you need to import module in your module file:
    </p>
    <div class="img_box">
        <img src="../../../../assets/checkbox/checkbox-module.png" alt="">
    </div>
    <p class="instructions">
        Like this:
    </p>
    <div class="img_box">
        <img src="../../../../assets/checkbox/module-import.png" alt="">
    </div>
    <p class="instructions">
        Now Open HTML file where you want use: <br>
        Paste this HTML code:
    </p>
    <div class="img_box">
        <img src="../../../../assets/checkbox/html.png" alt="">
    </div>
    <p class="instructions">
        Open ts file and Paste these code:
    </p>
    <div class="img_box">
        <img src="../../../../assets/checkbox/ts.png" alt="">
    </div>
</section>