<section class="command">
    <h3>How Build APK in Ionic</h3>
    <p class="instructions">
        Install Android Studio <a target="_blank" href="https://developer.android.com/studio">Download</a>
    </p>
    <p class="instructions">
        Now Install <a target="_blank" href="https://www.oracle.com/in/java/technologies/downloads/#jdk17-windows"> jdk
        </a>
    </p>
    <div class="img_box">
        <img src="../../../../assets/buildApk/jdk.png" alt="">
    </div>
    <p class="instructions">
        Open project and run these below commands:
    </p>
    <div class="code-palette">
        <pre class="highlight">ionic build --aot --pord --release</pre>
    </div>
    <div class="code-palette">
        <pre class="highlight">ionic capacitor add android</pre>
    </div>
    <div class="code-palette">
        <pre class="highlight">npx cap sync android</pre>
    </div>
    <div class="code-palette">
        <pre class="highlight">npm run resources</pre>
    </div>
    <div class="code-palette">
        <pre class="highlight">ionic capacitor open android</pre>
    </div>
    <p class="instructions">
        Now Click on Build APK:
    </p>
    <div class="img_box">
        <img src="../../../../assets/buildApk/buildApk.png" alt="">
    </div>
    <p class="instructions">
        Click on locate:
    </p>
    <div class="img_box">
        <img src="../../../../assets/buildApk/locate.png" alt="">
    </div>
    <p class="instructions">
        Now your APK is ready:
    </p>
    <div class="img_box">
        <img src="../../../../assets/buildApk/locationApk.png" alt="">
    </div>
</section>