<section class="home">

    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      </div>
      <div class="imgBox">
        <img src="../../../assets/home/learn.svg" alt="">
      </div>

</section>

<section class="card">
    <div class="cards">
        <div class="cardBox">
            <div class="logo">
                <img src="https://repository-images.githubusercontent.com/24195339/87018c00-694b-11e9-8b5f-c34826306d36" alt="">
            </div>
            <h2 class="title">Angular</h2>
            <span class="subTitle">Angular is a popular web development framework for building dynamic, single-page applications using TypeScript and HTML.</span>
            <button class="btn" routerLink="/angular">Learn More</button>
        </div>
    </div>
</section>
