<div class="contentBox">
    <h2 class="heading">Interpolation</h2>
    <ol>
        <li>Interpolation binds the data one-way. This means that when a value of the field bond using Interpolation changes, it is updated in the page as well. It cannot change the value of the field</li>
        <li>The format for defining interpolation in a template is: <strong> {{propertyName}}</strong></li>
        <li>component ------  <strong>{{value}}</strong>   ---------> Dom</li>
    </ol>
</div>

<iframe src="https://ng-run.com/edit/7KzYIlVPcKep4qyuZeHK?open=app%2Fapp.component.html" frameborder="0" width="100%" height="500px"></iframe>
