<div class="contentBox">
    <h2 class="heading">Event Binding</h2>
    Event binding allows you to respond to user interactions or events that occur in your application, such as button
    clicks, mouse movements, key presses, and more. By using event binding, you can associate a specific event with a
    method or function in your component that will be executed when the event occurs.
    <p>Here's an example of how to use event binding in Angular:</p>

</div>
<iframe src="https://ng-run.com/edit/WYVtmkEQjMnNIfAhQz6G" frameborder="0" width="100%"
    height="500px"></iframe>