<section class="page_find">
    <h3>Page Find</h3>
    <p class="instructions">
        If you want search html file for particular url :
    </p>
    <p class="instructions">
        Copy URL as shown in image:
    </p>
    <div class="img_box">
        <img src="../../../../assets/home_page.png" alt="">
    </div>
    <p class="instructions">
        And now open app-routing.module.ts: <br>
        Press + F and paste URL:
    </p>
    <div class="img_box">
        <img src="../../../../assets/app-routing.png" alt="">
    </div>
    <p class="instructions">
        Press CTRL and Click on import path
    </p>
    <p class="instructions">
        After click on path home page will be open <br>
        Now you have to click on home-routing.module.ts file:
    </p>
    <div class="img_box">
        <img src="../../../../assets/home-module.png" alt="">
    </div>
    <p class="instructions">
        Hold down CTRL key and Click on HomesHomeComponent:
    </p>
    <div class="img_box">
        <img src="../../../../assets/home-routing.png" alt="">
    </div>
    <p class="instructions">
        Now you reached on that particular component and you can change you code as you want: <br>
        If you want change in html file then click on homes-home.component.ts <br>
        or else in .ts file click on 
    </p>
    <div class="img_box">
        <img src="../../../../assets/homeshomecomponent.png" alt="">
    </div>
</section>