<section class="upload-project-git">
    <h3>How Upload On Github</h3>
    <p class="instructions">
        Open your Github account and click on New
    </p>
    <div class="img_box">
        <img src="../../../../assets/github/git-home-page.png" alt="">
    </div>
    <p class="instructions">
        Give appropriate name to repository and click on create repository
    </p>
    <div class="img_box">
        <img src="../../../../assets/github/new-repository.png" alt="">
    </div>
    <p class="instructions">
        Then enter these commands
        <strong>Note : </strong> Just remember one thing when your are going to enter git add README.md use 
    </p>
    <div class="code-palette">
        <pre class="highlight">git add * </pre>
    </div>
    <div class="imb_box">
        <img src="../../../../assets/github/commands.png" alt="">
    </div>
    <p class="instructions">
        Now refresh the page. It's done
    </p>
</section>