<div class="contentBox">
    <h2 class="heading">
        Class Binding
    </h2>
    <p>
        Class binding allows you to conditionally apply CSS classes to an element based on the state of your component.
        You can bind a class to an expression that evaluates to either true or false. If the expression is true, the
        specified CSS class will be applied to the element; otherwise, it will be removed.
    </p>
</div>

<iframe src="https://ng-run.com/edit/4xJ6MyLpRFlan5CEqCbD" frameborder="0" width="100%"
    height="500px"></iframe>

<div class="contentBox">
    <h2 class="heading">Style Binding</h2>
    <p>
        Style binding allows you to dynamically set inline styles on an element based on component properties or
        expressions. You can bind a style property to an expression that evaluates to a value or an object representing
        multiple style properties.
    </p>
</div>


<iframe src="https://ng-run.com/edit/9v4gC78tuDjYkA0q9otZ" frameborder="0" width="100%"
    height="500px"></iframe>